
html, body {
  height: 100%;
  width: 100%;
}

body {
  background-image: url('../images/sky.png');
  background-repeat: repeat-x;
  background-size: cover;
}

.imagery {
  display: table;
  position: absolute;
  bottom: 0;
}
.imagery img {
  display: table-cell;
}

@media screen and (min-width: 993px){

}

/* CSS FOR TABLET */
@media screen and (max-width: 992px){
  body {
    background-size: inherit;
  }

}

/* CSS FOR MOBILE */
@media screen and (max-width: 600px){

}


